<h1>Frequently Asked Questions</h1>
<ul>
  <li class="li_faq">What is CarTagPics.com?</li>
  <p>You can learn all <%=link_to "about us", :controller=>:about%> in our <%=link_to "about page", :controller=>:about%>.</p>

  <li class="li_faq">How do I use CarTagPics.com?</li>
  <p>Check out our how to video:<br/>
    <object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/nQ2zyvrLqUI?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/nQ2zyvrLqUI?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
  </p>
  
  <li class="li_faq">Why is there a watermark on the picture?</li>
  <p>We at <%=link_to "CarTagPics.com",:controller=>:main%> take your protection seriously. We watermark the photos so we can provide the best environment online by removing any content that is not suitable for general viewing.

  <li class="li_faq">Can I delete my tag if I don't want it online after uploading?</li>
  <p>Absolutely!  We allow for deletion at anytime when you are signed in through your account.

  <li class="li_faq">Why do I need to use my Facebook account to login?</li>
  <p>We wanted to make this site as easy as possible for people to access. Who needs another online account to remember? Plus we wanted to make it super easy to post your fun tags online with your friends on Facebook.

  <li class="li_faq">Can I upload tags that I do not own?</li>
  <p>Yes.  According to current law, tags are in the public domain and therefore are safe to photograph and post online.

  <li class="li_faq">Does my information get shared with third parties?</li>
  <p>No. We maintain the utmost level of privacy for our guests.  Please read our <%=link_to "Privacy Policy", :controller=>:privacy%> for futher information.

  <li class="li_faq">How long does it take to upload a tag and see it online?</li>
  <p>Minutes. Once signed in, the process is very easy!  Simply choose your file to upload, give it a title, share comments and click post. You’re done & ready to share with friends!

  <li class="li_faq">Are there any restrictions to what you allow to be posted?</li>
  <p>Yes. Please read our <%=link_to "Terms of Service", :controller=>:terms%> for further information. We are a kid friendly site.

</ul>